[2020-07-06 13:24] dsbb-finddx opened #1 "There is no data for USA in processed/coronavirus.csv file"
Is this an issue of the data source or because of the processing script?

[2020-07-07 15:15] pat-s commented on #1
The US data is in a separate file, see https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series.
The file is currently not downloaded and processed.

[2020-07-07 15:28] dsbb-finddx commented on #1
Is it possible to download and process US data in your scripts of the R package?

[2020-07-07 16:56] pat-s commented on #1
Sure, it just needs to be joined to the other DF that uses the non-US data after downloading.

Here:

https://github.com/dsbbfinddx/FIND_Cov_19_Tracker/blob/f554fab441de3f497f51049a87d703bace7d76a8/R/case-data.R#L13-L15

[2020-07-08 07:10] dsbb-finddx commented on #1
Could you please add the code to implement this?

[2020-07-08 12:27] dsbb-finddx opened #2 "Many countries found in jhu_data.csv but not in coronavirus_cases.csv"
I.e. South Africa, is downloaded from the jhu repository, is found in the jhu_cases.csv file but not in the processed coronavirus_cases.csv file.
This results in countries not showing up on the map etc.

[2020-07-08 12:38] pat-s commented on #1
I've added the US data and bound the observations to the already existing ones.

However, USA is dropped before writing because mapping data (from `countries_codes_and_coordinates.csv`) is lacking for the USA.

[2020-07-08 12:39] pat-s commented on #2
This is because mapping data (from `countries_codes_and_coordinates.csv`) is missing for many countries. All countries which lack mapping data are currently dropped.

See https://github.com/dsbbfinddx/data/runs/849622535?check_suite_focus=true#step:15:16.

[2020-07-08 12:40] dsbb-finddx commented on #2
Why, is it working though on the current map?

[2020-07-08 12:45] pat-s commented on #2
Because that's how it was done in the code when I started:

https://github.com/dsbbfinddx/FIND_Cov_19_Tracker/blob/a721799563caa658bbcc39fb38a7381b5e63cd2e/jhu_data_full.R#L113-L117

[2020-07-08 13:56] dsbb-finddx commented on #1
US data for cases are found here: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv

There is no need to add them separately.
In the current app we were using the jhuID from the countries_codes_and_coordinates.csv
The correct file to be used is:

https://raw.githubusercontent.com/dsbbfinddx/FIND_Co

[2020-07-08 14:44] christophsax commented on #1
If we had into data or other problems, the best thing is to greate a
reproducible example, or reprex. The
[article](https://reprex.tidyverse.org/articles/articles/magic-reprex.html)
explains what a reprex is and why it is one of the most important yet most
underrated things in R.

Here is a reprex for the (still) missing US data. It may be because the run has not been completed, will try to do it

[2020-07-08 15:14] pat-s commented on #1
Apparently multiple files named `countries_codes_and_coordinates.csv` were present in the repo(s).

[code]

<sup>Created on 2020-07-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

In the one that is still in the `input_data` directory there is an entry for the US and hence the US data is not dropped.
I've updated the file that is being used in the R package now. At 6 pm, t

[2020-07-08 15:15] dsbb-finddx commented on #1
Thank you for the reprex, Patrick.
US data are found here: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv
So, I wanted to make sure you retrieve them from time_series_covid19_confirmed_global.csv and not from the time_series_covid19_confirmed_US.csv as you do here:

https://github.com/dsbbfinddx

[2020-07-08 15:19] pat-s commented on #1
I've already reverted again, only `confirmed_global.csv` is used. (Even though the data should be identical probably?).

[2020-07-08 15:27] pat-s commented on #2
Might be solved by using the correct `countries_codes_and_coordinates.csv` file as commented in https://github.com/dsbbfinddx/data/issues/1#issuecomment-655582354.

[2020-07-09 06:26] christophsax opened #3 "GitHub Actions Failure"
<img width="1071" alt="image" src="https://user-images.githubusercontent.com/1390827/87004508-d2edc900-c1bd-11ea-8ea6-cbec3ae7932a.png">

[2020-07-09 07:32] pat-s commented on #3
Thanks, fixed. There was a file (accidentally?) removed by some clean up action.

[2020-07-09 07:32] #3 closed

[2020-07-09 07:34] pat-s commented on #1
USA should be in now, let me know if something is not working as expected.

[2020-07-09 07:35] pat-s commented on #2
With this I meant "before I started" 😄

@dsbb-finddx Is this solved now after using the new coordinates file?

[2020-07-09 08:25] dsbb-finddx commented on #2
@pat-s still no US, South Africa etc showing up on the map.

[2020-07-09 08:31] christophsax commented on #1
Yes, still not here (my reprex above is a good way to check).

[code]

<sup>Created on 2020-07-09 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-09 09:03] pat-s commented on #1
The identifier is "USA" not "US".

[2020-07-09 09:23] pat-s commented on #1
OK in now

[code]

<sup>Created on 2020-07-09 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-09 09:23] #1 closed

[2020-07-09 09:49] pat-s commented on #2
In the coordinates file country names have no spaces (e.g. "SouthAfrica") whereas the JHU data includes spaces for such country names ("South Africa").

I now aligned both datasets to match so that no countries are dropped anymore.
The run at noon (in 13 minutes) should write data files without missing countries.

cc @christophsax

[2020-07-09 11:14] christophsax commented on #1
Thanks. It's also picked up by the app:

<img width="943" alt="image" src="https://user-images.githubusercontent.com/1390827/87033238-2411b300-c1e6-11ea-9a31-3b0d7b355b55.png">

Another problem is that we have no `pop_100k` for the US. @dsbb-finddx Any idea why not?

[2020-07-09 11:22] pat-s commented on #1
Because the same naming problem (spaces/no spaces) occurs when joining the population data. I'll fix it.

[2020-07-09 11:44] pat-s commented on #1
Updated the population data country names. The following are definitely missing though:

[code]

[2020-07-10 09:35] dsbb-finddx opened #4 "data_shiny.csv missing test data and population data"
@pat-s the merge creating data  is done using country columns, hence it results in test columns having missing data.
The merge between all data frames should be done using jhu_id, in that way there is no need to rename countries as well.

` data <- cv_cases %>%
    dplyr::left_join(cv_tests) %>%
    dplyr::left_join(pop) %>%
    dplyr::mutate(pop_100k = population / 100000) %>%
    dplyr::select(

[2020-07-10 10:05] pat-s commented on #4
Thanks.

FYI: You can create code blocks by using three backticks, like

[code]

Does the following change result in the correct `data` data.frame?

[code]

<sup>Created on 2020-07-10 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-10 10:16] dsbb-finddx commented on #4
Thanks @pat-s !
It does! Also, since we are in the function that creates data_shiny.csv, please include Country name in the final data frame, not only ISO2 code. Thanks a lot, once more!

[2020-07-11 12:19] pat-s commented on #4
Done in https://github.com/dsbbfinddx/FIND_Cov_19_Tracker/commit/3b200a7d0bbf90dfc8ef1daf343c3ea5ff8ab035.

[2020-07-11 12:19] #4 closed

[2020-07-28 09:21] pat-s commented on #2
South Africa and friends are present in the data meanwhile.

[2020-07-28 09:21] #2 closed

[2020-11-19 12:21] angelicambg opened #7 "option to create python files"
@pat-s @christophsax I pushed 2 python files. One of them is basically the python script exported from Selenium IDE. There are 2 ways to export.

- One is to export the countries one by one, and it creates python files with the class name based on the country.
- The second way is to export all countries at the same time, and that creates just one python file with the class name `TestDefaultSuite`

[2020-11-19 12:29] pat-s commented on #7
Having one file with all definitions is better.

The process would be to create this file once and make specific edits to write the test values to a CSV.

If a country needs an edit, this edit needs to be done manually in this file after having checked that the change works.

Did you try to run the script locally? We need to check if it runs headless or not (i.e. if a browser is spawned)

[2020-11-19 13:34] angelicambg commented on #7
I included an option to open the browser silently. However, with that option, I got information from different countries, not the same countries I clicked on Selenium IDE.

[2020-12-02 19:45] angelicambg commented on #7
It worked with other countries.

[2020-12-02 19:45] #7 closed

[2020-12-02 19:49] angelicambg opened #8 "Country status - Selenium"
**Issues**
- [ ] Bhutan: Not information about the number of tests / image
- [ ] Bolivia: Not information about the number of tests
- [ ] FrenchPolynesia: Not information about the number of tests
- [ ] Honduras: Not information about the number of tests
- [ ] Italy: Not information about the number of tests
- [ ] Jordan: Not information about the number of tests
- [ ] Vietnam: Not information abo

[2020-12-17 15:32] christophsax opened #12 "Scraping Automatization: Concept"
## Key features

- Stable infrastructure, green builds
- One discussion thread by day (pull request)
- All scraped data is stored permanently (relevant?)
- Manual editing one file per day (using the GitHub editor?)
- It won't be necessary to run R scripts manually.

## Timeline

- Basic Workflow: Before X-mas (fingers crossed)
- Large parts of Selenium countries: This year (fingers crossed)

## Da

[2020-12-18 07:58] pat-s commented on #12
Adding some more details: I've added a workflow DESCRIPTION to the [README](https://github.com/dsbbfinddx/FINDCov19Tracker/tree/automate) of the `automate` branch in `FINDCov19Tracker`.

This will be merged into the `master` branch soon and should describe the overall workflow.
@dsbb-finddx please have a look and open an issue if things are unclear.

PS: I will also create a pkgdown website for th

[2020-12-18 12:18] pat-s commented on #12
## Status

- [x] Selenium: CI Workflow and daily deployment of `tests_cumulative` -> [here](https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/selenium/automated/selenium)

- [x] R fetch: CI Workflow and daily deployment of `tests_cumulative` -> [here](https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/selenium/automated/fetch)

- [ ] Combination of Selenium and R fetch: CI Workflow and

[2020-12-18 13:35] dsbb-finddx commented on #12
@pat-s @christophsax thank you for the concept summary and updates. Indeed, it is a bit hard for me to follow, I apologise. Before you progress and want to merge into the master branch changes that will impact the way that we upload data at the moment, please set up a call to explain to me the process.

[2020-12-18 13:54] pat-s commented on #12
We won't make any changes that affect the current build process until everyone is up-to-date with the new workflow 👍

[2020-12-22 12:46] angelicambg commented on #8
The status will be updated in the [excel file](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/resources/tests_urls_tips_final.xlsx)

[2020-12-22 12:46] #8 closed

[2021-01-11 16:19] pat-s opened #15 "Data-driven update-lag analysis"
If a country does not update daily, `new_tests` will be 0 and the `tests_cumulative` the same as yesterday.

It might be interesting to automatically classify the countries in the final result based on this criterium.

I'd suggest adding a column "Last update" to https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/automated/merged files which contains the difference in days to the last

[2021-01-15 08:51] dsbb-finddx opened #16 "New scraping workflow questions"
- **`new_tests` are calculated from the different to the previous day:** what if a neg value is returned for the new_tests?
- Which function creates the [`processed/coronavirus_test.csv`](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/processed/coronavirus_tests.csv) file?
- **The R package [{FindCovTracker}](https://dsbbfinddx.github.io/FINDCov19Tracker/reference/index.html), whic

[2021-01-15 08:58] dsbb-finddx commented on #16
**The R package [{FindCovTracker}](https://dsbbfinddx.github.io/FINDCov19Tracker/reference/index.html), which powers most of the automated actions run via GitHub Actions, takes this data and writes [`processed/coronavirus_test.csv`](https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/selenium/processed/) which is then taken as input for the final Shiny App** : what about the _corrected columns

[2021-01-15 09:59] pat-s opened #17 "Add countries with negative `new_tests` to the countries which need manual processing"

[2021-01-15 10:00] pat-s opened #18 "Update heuristic for merging the manual file into the final one"
should include also columns `new_tests_corrected` and `cumulative_tests_corrected`

[2021-01-15 10:02] pat-s opened #19 "Create a dictionary for the country status"
in file `manual/countries-manual.csv` for every day

column: `country.status`

So that is clear what is meant with the `key`.

[2021-01-15 10:10] pat-s opened #20 "The manually created values file should go to a different folder"
- `manual/upload` (think about more descriptive name maybe)
- `manual/needs-processing`

[2021-01-15 10:22] pat-s opened #21 "Condition manual workflow processing on the commit message"
so that the fetching logic is not run again if Imane uploads the manual countries file

[2021-01-15 10:37] angelicambg opened #22 "countries should be added to selenium process"
List of countries to include in the selenium process:

- [x] Andorra (https://www.govern.ad/covid19/en/)
- [ ] Argentina special dashboard grafana (new link dashboard: https://www.argentina.gob.ar/salud/coronavirus-COVID-19/sala-situacion)
- [x] Cambodia (new link) / update: no information about tests
- [ ] Costa Rica (xlsx: https://geovision.uned.ac.cr/oges/index.html)
- [x] Cuba (similar to Iran

[2021-01-18 08:34] pat-s commented on #17
done in 1c3e5bb408ad08f36f158879d25ed4be7cbbe53b

[2021-01-18 08:34] #17 closed

[2021-01-18 08:34] pat-s commented on #18
done in 594d60e017bc79ffa2c33e28259dbbaa7c9513db, potentially needs more action after first WF run.

[2021-01-18 08:34] #18 closed

[2021-01-18 09:14] pat-s commented on #20
Done in

- 1e28338d7582195ac87e9a695381eb2119b9125b
- https://github.com/dsbbfinddx/FINDCov19Tracker/commit/74e13b5c3c59031d9d9bf407cad5fa9a0df1741b

Might need some tweaking during the day.

[2021-01-18 09:14] #20 closed

[2021-01-18 09:52] pat-s commented on #21
Done in 794f37a3fc30ca3fa8896303493e090e116294be.

[Example workflow](https://github.com/dsbbfinddx/FINDCov19TrackerData/actions/runs/493261489) which only ran the part for integrating the manual countries.

See also [the updated README](https://github.com/dsbbfinddx/FINDCov19TrackerData#4-analysis-of-workflow-run) for more information.

[2021-01-18 09:52] #21 closed

[2021-01-18 10:09] pat-s commented on #16
The country is now added to the [countries which errored](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/issues/2021-01-18-countries-error.csv).

IIRC from the call the question was asking where to find the new aggregated file. -> https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/automated/countries-tests-all-dates.csv

These columns now appear in the final file.
If ad

[2021-01-18 19:44] janinewhite opened #23 "data_all.csv not updated since 1/14/21"
https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/processed/data_all.csv has not been updated since 1/14/2021.

[2021-01-19 07:01] pat-s commented on #23
Thanks @janinewhite. This is because no sources were added since this date.

@dsbb-finddx or @ImaneElIdrissi are responsible here - maybe they can help.

[2021-01-19 09:58] dsbb-finddx commented on #23
Hello @janinewhite , this will be updated in due time. Thank you for your patience :)

[2021-01-20 11:09] dsbb-finddx opened #24 "new_tests, cumulative_tests values not calculated in the automated/countries-tests-all-dates.csv"
There are countries that have values in the cumulative tests column, but the new tests remains 0.
Shouldn't there be a calculation at this stage for the new_tests?
Also, some countries have NA values both for cumulative and new tests. Shouldn't they have the cumulative values of the most recent date that was not empty?
Or this will be done with the integration of a next step so that the coronaviru

[2021-01-20 11:26] pat-s commented on #24
The difference is calculated for all countries. 0 means that there was no change to the value logged for the previous day.

I did not check the outcome of individual countries yet to double check if everything works as expected for each individual country.

Feel free to have a look into the code if you have some spare time 🙂

[2021-01-20 14:11] angelicambg commented on #22
@dsbb-finddx  @ImaneElIdrissi [Africa dashboard](https://africacdc.org/covid-19/) doesn't show the country names when you click on each circle.

Using Selenium you won't get an error, but it's not possible to link countries and the number of tests.  So, it's very likely you don't get the last update because it's necessary to use another ID instead of the country name.

We fixed this using the [API

[2021-01-21 13:19] dsbb-finddx commented on #24
The outcome on new tests is correct :)

[2021-01-21 13:22] dsbb-finddx opened #25 "corrected columns in FINDCov19TrackerData/automated/countries-tests-all-dates.csv"
Are the _corrected columns going to be empty is this file? Shouldn't they be populated by default with the cumulative and new values and then corrected only when necessary?

[2021-01-21 13:49] dsbb-finddx opened #26 "Is countries-tests-all-dates.csv the file which will be used by shiny-data.R?"
The previous workflow was generating the coronavirus_tests.csv file which was then used in the [`shiy-data.R`](https://github.com/dsbbfinddx/FINDCov19Tracker/blob/master/R/shiny-data.R).
Is countries-tests-all-dates.csv going to be used in the [`shiy-data.R`](https://github.com/dsbbfinddx/FINDCov19Tracker/blob/master/R/shiny-data.R) script?

[2021-01-26 13:59] pat-s commented on #26
Yes, this is the idea.

Beforehand the old data (i.e. `coronavirus_tests.csv`) should be merged into this file.

[2021-01-26 14:04] pat-s commented on #25
We can populate them with the cumulative and new values by default.

@dsbb-finddx Would it be possible to not assign all people by default? Tagging individuals is preferred since the "assigned" feature has a special meaning in GitHub.
A more passive way would be to adjust the personal "watch" or "notification" setting if one does not want to miss certain conversations.

[2021-01-26 14:05] pat-s commented on #24
Sounds good. Can we close this issue then?

[2021-01-26 14:06] pat-s commented on #23
AFAICS the data has been updated again.

[2021-01-26 14:06] #23 closed

[2021-01-26 14:22] choogland opened #27 "readr::read_csv default quoted_na treat "NA" as missing values"
readr::read_csv default quoted_na treat "NA" as missing values, thus country code for Namibia (NA) becomes NA for country_iso, unit_info etc

[2021-01-27 08:40] pat-s commented on #27
Thanks @choogland for reporting. Can you post a reference to the code where this happens?

[2021-01-27 08:54] choogland commented on #27
It should happen everywhere when there is a "NA" (string) in the csv file read with readr::read_csv. Not sure if it is the case in this repos, most probably in the one for the app.

For example: in FINDCov19Tracker-master/R/shiny-data.R

when reading with default, Namibia country_code will be empty, when it should contain "NA"
readr::read_csv("https://raw.githubusercontent.com/dsbbfinddx/FINDCov19

[2021-01-27 11:22] #24 closed

[2021-01-27 11:24] dsbb-finddx commented on #25
@pat-s Please populate them as you mentioned above.
Ok, noted re the assignment.

[2021-01-28 10:30] ImaneElIdrissi commented on #26
I see that in _countries-tests-all-dates.csv_ there are countries like Afghanistan with "NA" for cumulative and/or new tests. @pat-s
 I was wondering how are these "NA" going to be translated in the tracker? We don't want to show "NA" values and we will not always necessarily make manual checks right after the script is run. Thanks!

[2021-01-29 07:03] choogland opened #28 "Shiny data not updated at the same time"
When new or updated file of tests data is pushed in FINDCov19TrackerData/raw, cases would be updated but not tests in FINDCov19TrackerData/processed. It happened yesterday for example, and data was not rectified with the scheduled job last night.
See Deploy from Github Actions build 518595729

[2021-01-29 12:22] pat-s commented on #26
@ImaneElIdrissi IIRC this was already discussed in the past with @christophsax and @dsbb-finddx to ensure that no NAs occur in the Shiny app. Please ask @christophsax for questions related to the Shiny app, thanks.

[2021-01-29 14:44] christophsax commented on #26
The app displays `data_all.csv`, which has `NA`s for the last 3 days in AFG, and the app shows them that way.

I don't think this is an app problem.

[code]

<sup>Created on 2021-01-29 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-01 09:42] pat-s commented on #27
Thanks, did so in 6861dafcadf0ff36950aa051248d23e72300b92b.

[2021-02-01 09:46] pat-s commented on #25
Done so in https://github.com/dsbbfinddx/FINDCov19Tracker/commit/47ac0b98eeec2fe6c01fc3c288bb8c40d5b0f9e9.

[2021-02-01 09:46] #25 closed

[2021-02-01 09:48] pat-s commented on #16
@dsbb-finddx Are all questions here resolved?

[2021-02-01 09:48] pat-s commented on #12
Most of this is already in the respective READMEs. Closing here.

[2021-02-01 09:48] #12 closed

[2021-02-01 09:56] pat-s commented on #26
I think we're talking about two different things here a bit:

- Anna and Imane refer to the output file to the new workflow `countries-tests-all-dates.csv`
- Christoph refers to `data_all.csv` which is for the old workflow

Nothing has changed how `data_all.csv` is processed since 2021-01-28 - I'll take a look what's happening.

[2021-02-01 10:09] dsbb-finddx commented on #28
I fixed the issue with negative values, coronavirus_test.csv is updated but data_all.csv did not get updated
https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/processed

[2021-02-01 10:11] pat-s commented on #26
It looks like that the fix for #27 also fixed the Afghanistan case here.
I do not see why this started happening on 2021-01-28 though - there was no change to the code and no update of the {readr} package.

I'll open a new issue related to general NA handling.

[2021-02-01 10:11] #26 closed

[2021-02-01 10:14] pat-s opened #29 "General NA handling"
_Originally posted by @pat-s in https://github.com/dsbbfinddx/FINDCov19TrackerData/issues/26#issuecomment-770739894_

I think we discussed this before but I can't find it anywhere.

We do not want to show NA's in the Shiny app. Hence, for countries which reported nothing for a specific day (for any reason) we should probably report the last valid number.

@dsbb-finddx Is that correct?

[2021-02-01 10:48] pat-s commented on #28
@choogland Appreciated if you could include direct links in such cases, otherwise it is hard to follow which files you refer to since they get updated constantly.

@dsbb-finddx I'll take a look.

I think these are two separate points mentioned here, aren't they? It is not easy to follow along if comments do not relate to the previous one. If in doubt, it would be great if you could just open a sep

[2021-02-01 10:55] pat-s commented on #28
https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/processed

I deployed again and `data_all.csv` looks fine now.

Not quite sure what the issue was - maybe fixing #27 but actually we've been fine before all the time and there were no recent changes.

[2021-02-01 10:58] pat-s commented on #28
@choogland

I am loosing overview a bit because [data_all.csv](https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/data_all.csv) is not really readable easily and the diffs are not processed due to its size.

I think we should move to the new approach with daily files & diffs as soon as possible since backtracking issues and daily diffs are way more transparent there

[2021-02-01 10:58] pat-s commented on #19
@angelicambg Is this ticket addressed?

[2021-02-01 12:34] dsbb-finddx commented on #26
@pat-s @ImaneElIdrissi what Imane meant in the comment is that in the `countries-tests-all-dates.csv` if a country fails to have their data updated, instead of having the most recent values populating the current date, there are NAs in both new and cumulative tests columns. That should be fixed if she updates that country manually. But if she does not update it for one date, the NAs will ruin the

[2021-02-01 12:50] dsbb-finddx commented on #16
@pat-s I think you mean that corrected columns should be populated only for the errored countries?
I would like _corrected columns to be populated for all countries errored or not, because they are the ones used [here](https://github.com/dsbbfinddx/FINDCov19Tracker/blob/47ac0b98eeec2fe6c01fc3c288bb8c40d5b0f9e9/R/shiny-data.R#L118) to create the `data-all.csv`.
Is there another intermediate file af

[2021-02-02 08:31] pat-s commented on #16
I did so [yesterday](https://github.com/dsbbfinddx/FINDCov19Tracker/commit/47ac0b98eeec2fe6c01fc3c288bb8c40d5b0f9e9). Today I also backported this to all past dates.

https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/automated/countries-tests-all-dates.csv should now look as wished?

No.

[2021-02-02 08:36] pat-s commented on #29
Maybe move to https://github.com/dsbbfinddx/FINDCov19TrackerShiny

[2021-02-02 08:42] pat-s commented on #26
Yes. Based on these entries the files in https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/issues are written.

Correct.

IMO this should be handled later down the line, i.e. within the shiny App. See also #29.

If we fake-insert values into country-date fields for which we actually have none, we create fake data.
Also I see high potential for internal confusion since it becomes hard

[2021-02-02 09:40] dsbb-finddx commented on #29
@pat-s NA handling took place in [`shiny-data.R`](https://github.com/dsbbfinddx/FINDCov19Tracker/blob/master/R/shiny-data.R).
We should keep all NA handling in [FINDCov19Tracker](https://github.com/dsbbfinddx/FINDCov19Tracker).
NA handling for test data should happen in [`test-data.R`](https://github.com/dsbbfinddx/FINDCov19Tracker/blob/47ac0b98eeec2fe6c01fc3c288bb8c40d5b0f9e9/R/test-data.R#L97)

[2021-02-02 09:52] dsbb-finddx commented on #16
Yes, but I still believe this file should be then used in `test-data.R` to create the `coronavirus_tests.csv` in the processed folder. Reason:
 - You will handle the NAs in the test-data.R
 - `coronavirus_tests.csv`will be used in the `shiny-data.R`
 - Users download `coronavirus_tests.csv` directly from processed folder, it would be good to keep it this way.

[2021-02-02 11:04] pat-s commented on #16
Maybe we still misunderstand each other: [countries-tests-all-dates.csv](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/automated/countries-tests-all-dates.csv) is the new `coronavirus_tests.csv` and will replace it at some point.

Is the confusion caused by the differing name?

[2021-02-02 11:09] pat-s commented on #29
Which is correct because this function runs **after** the test values have been written.

I am fine with any of these as long as the shiny preprocessing happens after the value gathering step.

I still disagree because of https://github.com/dsbbfinddx/FINDCov19TrackerData/issues/26#issuecomment-771469017.

[2021-02-02 13:14] dsbb-finddx commented on #16
Yes, the name is confusing, the final file should be coronavirus_tests.csv and it should be found in the processed folder, when the workflow will be implemented.

In that case and also referring to https://github.com/dsbbfinddx/FINDCov19TrackerData/issues/29, I prefer the `coronavirus_test.csv` to have already the NA values replaced. Hence the code starting [here](https://github.com/dsbbfinddx/FIN

[2021-02-03 10:54] dsbb-finddx opened #30 "tic fails when Add files via upload"
@pat-s is it a dplyr issue?
https://github.com/dsbbfinddx/FINDCov19TrackerData/runs/1821664069?check_suite_focus=true#step:22:119
There is no problem when run locally, all files get updated.

[2021-02-04 09:17] angelicambg commented on #19
The dictionary is in the folder [resources/dict_status_countries.csv](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/resources/dict_status_countries.csv)

[2021-02-04 09:17] #19 closed

[2021-02-04 11:43] dsbb-finddx commented on #30
Problem still persists
https://github.com/dsbbfinddx/FINDCov19TrackerData/runs/1830153194?check_suite_focus=true#step:22:8600

[2021-02-04 14:25] angelicambg opened #31 "template daily csv"
Automatically create a template in [manual/processed](https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/manual/processed) of the daily csv file to fill the numbers. The file will have the countries with NA and countries with negative numbers, and the last column with the url.

[2021-02-04 15:33] angelicambg opened #32 "Calculate automatically new tests and cumulative tests in manually updated files"
once the manual file is uploaded:

1. If there is a value in `tests_cumulative` and `new_tests` is empty, then calculate `new_tests`. This important to have it to start with the new workflow.
2. If there is a value in `new_tests` and `tests_cumulative` is empty then calculate  `tests_cumulative`. This can be an improvement after we start working with the new workflow.

[2021-02-04 18:56] pat-s commented on #30
The issue is [here](https://github.com/dsbbfinddx/FINDCov19Tracker/blob/47ac0b98eeec2fe6c01fc3c288bb8c40d5b0f9e9/R/shiny-data.R#L241-L251) and likely caused by the recent dplyr 1.0.4 update which introduced [some changes](https://cran.r-project.org/web/packages/dplyr/news/news.html) to `across()`.

@dsbb-finddx Since you wrote this code part, do you mind having a look?

[2021-02-05 11:54] dsbb-finddx commented on #30
The issue is [here](https://github.com/dsbbfinddx/FINDCov19Tracker/blob/eaf1e53e11cc2a76f417ac804aa39df5b71c6288/R/shiny-data.R#L209)
`mutate()` and `across()` together do not keep all the columns but only the ones specified?
@christophsax wrote this part, I am trying to debug specifying to `.keep="all"` but it does not work.

Can we keep the previous dplyr version?

[2021-02-05 13:22] pat-s commented on #30
@christophsax wrote this part, I am specifying to .keep="all" but it does not work, still does not find 'pop_100k' column needed for the function.

git blame reported your name, that's why I addressed you.

temporarily but this should be fixed in the foreseeable future. I've pushed [a fix](https://github.com/dsbbfinddx/FINDCov19TrackerData/commit/0c24415f7e4059409a7b9d6d6ac2dd94b67adbcd).

[2021-02-05 13:32] dsbb-finddx commented on #30
No problem :)
I have added on the original code, but that specific part was from @christophsax

Thank you! I agree, this should be fixed and we should use most up to date dplyr version.
However, in the event of doing this for other packages in the future, is it worth of keeping a stable environment, in terms of R version and packages used for the Git actions?

[2021-02-06 08:10] pat-s commented on #32
The title might be a bit misleading.

We already calculate `new_tests` automatically.
IIRC my intention was to merge all daily files of the last week into the file with the automated values - with the daily files overwriting the automated values because we assume that the manually gathered values are more correct.

[2021-02-06 08:11] pat-s commented on #30
WF is fine again.

I'll open a new issue and assign Christoph.

[2021-02-06 08:11] #30 closed

[2021-02-06 08:13] pat-s opened #33 "Add compatibility with latest dplyr version"
_Originally posted by @dsbb-finddx in https://github.com/dsbbfinddx/FINDCov19TrackerData/issues/30#issuecomment-774035287_

Currently we use dplyr 1.0.3 due to an issue in 1.0.4.

The respective part needs to be updated and checked locally.

Assigning Christoph since he wrote this code.

[2021-02-06 11:00] christophsax commented on #33
Don't really understand why, but purrr formula seems to work where a normal function does not:

https://github.com/dsbbfinddx/FINDCov19Tracker/commit/e085d3158ee0ffaacfaebe62dd3b867940854b5b

[2021-02-06 11:13] pat-s commented on #33
Maybe a bug that should be reported in dplyr?

[2021-02-06 11:28] christophsax commented on #33
https://github.com/tidyverse/dplyr/issues/5740

[2021-02-08 11:59] angelicambg commented on #31
This [commit](https://github.com/dsbbfinddx/FINDCov19Tracker/commit/ab5d17ff2df445b6467379f3709b4a1381082ae0) creates a template file in [manual/need-processing](https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/manual/need-processing).

This template can be copy and paste in [manual/processed](https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/manual/processed), and fill

[2021-02-08 13:16] pat-s commented on #31
Thanks!

The column names need some polishing I think because they still have the `country` prefix:

[code]

[2021-02-08 13:33] pat-s commented on #33
Fixed by Christoph in https://github.com/dsbbfinddx/FINDCov19Tracker/commit/e085d3158ee0ffaacfaebe62dd3b867940854b5b.

[2021-02-08 13:33] #33 closed

[2021-02-08 13:34] pat-s commented on #16
For now I've renamed it to `coronavirus_tests_new.csv`.

[2021-02-08 18:48] #32 closed

[2021-02-09 16:19] ImaneElIdrissi commented on #31
Many thanks, the template is very user-friendly!

Quick questions: does it also include countries countries with negative values? And does it still need both cumulative and new tests cells to be filled or will at least the new tests be automatically calculated?

[2021-02-09 16:28] angelicambg commented on #31
Yes, the template includes countries with negative values. And it calculates automatically new tests or cumulative test depending on which cell you fill the number.

I'm still testing the process but you will need to upload the same file as the template, including countries that don't update values every day. For those countries, new test should be filled with 0.

As soon as I finish the test, I'l

[2021-02-09 16:36] ImaneElIdrissi commented on #31
Thanks a lot! And regarding countries with a date shift (Jamaica, Russia, and Japan) I don't see them appearing in the manual file. If the scraping doesn't take into account the date, can you remove them from the automated countries?

[2021-02-15 22:50] ImaneElIdrissi opened #34 "Final file with NAs and Negative values corrected"
Is the discussed final file with deleted NAs and negative values from **coronavirus_tests_new.csv** already included in the workflow?

[2021-02-20 07:44] pat-s commented on #28
The shiny app is currently always re-deployed for each update in FindCov19TrackerData.

[2021-02-20 07:44] #28 closed

[2021-02-20 07:45] pat-s commented on #31
@angelicambg Is this done?

[2021-02-23 14:31] ImaneElIdrissi opened #36 "Segregated testing data for some countries"
Some countries report several testing numbers and we would like to add that in the tracker. @angelicambg could you have a look at these websites and see which ones could be automatically scraped? In bold are the countries that are feasible in my opinion.
•	*Andorra: PCR, TMA, Antibody* - https://www.govern.ad/covid19/en/
•	*Austria: PCR, Antigen* - https://www.sozialministerium.at/Informationen-zu

[2021-02-23 15:40] dsbb-finddx commented on #36
@ImaneElIdrissi and @angelicambg I would narrow it down only to countries that track **rapid antigen** tests.
We should name it Rapid Antigen Test and already think on how to implement the following:

1. How to include it in the current dataset
2. How to showcase it on the shinyapp

Adding @christophsax because it is relevant with the shiny app design.

[2021-02-23 16:03] angelicambg commented on #31
closed with [commit](https://github.com/dsbbfinddx/FINDCov19Tracker/commit/d763d18aff791cdc86b763e56ee41314485151d0) `test_cumulative` is set to 0 to see easily the automated countries with an error.

[2021-02-24 15:34] angelicambg opened #37 "Countries without cumulative number"

[2021-02-25 10:44] pat-s opened #38 "Use the rendered version of the codebook instead of the raw one?"
When linking to it on https://www.finddx.org/covid-19/test-tracker/ (at the bottom).

The rendered version is way easier to read than the raw one.

Also users could browse the repo afterwards whereas the raw version does not allow further navigation.

@christophsax

[2021-02-26 08:09] #31 closed

[2021-02-26 15:32] jdblant opened #39 "Thailand Testing Data"
The average daily new tests conducted numbers in the FIND Test tracker are about 30% of that reported by the Thai MoH (http://nextcloud.dmsc.moph.go.th/index.php/s/wbioWZAQfManokc).

[2021-02-27 10:52] christophsax commented on #36
@angelicambg let's discuss 2. quickly on Tuesday

[2021-03-01 18:57] angelicambg commented on #34
[coronavirus_tests.csv](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/processed/coronavirus_tests.csv)  doesn't have NA or negative values for the corrected columns, and this file is based on [coronavirus_tests_new.csv](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/automated/coronavirus_tests_new.csv).

[coronavirus_tests_new.csv](https://github.com/dsbbfinddx/FIN

[2021-03-01 18:57] #34 closed

[2021-03-01 18:59] angelicambg commented on #29
[coronavirus_tests.csv](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/processed/coronavirus_tests.csv)  doesn't have NA or negative values for the corrected columns, and this file is based on [coronavirus_tests_new.csv](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/automated/coronavirus_tests_new.csv). This process is handle with the function [process_test_data()]

[2021-03-01 19:00] #29 closed

[2021-03-02 07:33] ImaneElIdrissi commented on #39
Thank you for your feedback. We were indeed taking our data from the Thai dedicated [dashboard ](https://ddc.moph.go.th/viralpneumonia/eng/index.php). However it was only showing the number of "Patient Under Investigation". Thank you for having pointed at the existence of more precise data. We have now updated our data for Thailand and from now on will be using this [source](http://nextcloud.dmsc.

[2021-03-02 15:34] ImaneElIdrissi commented on #37
- [ ] Cyprus (daily number) / update: Will be included in the workflow: https://covid19.ucy.ac.cy/)
- [ ] Georgia (daily number) / update: Will be included in the workflow: https://stopcov.ge/en/
- [ ] Israel (daily number) / Will be included in the workflow: https://datadashboard.health.gov.il/COVID-19/general
- [ ] Netherlands (weekly number) / update: Will be included in the workflow:
https://w

[2021-03-02 15:40] ImaneElIdrissi opened #40 "Countries with a shift in the date corresponding to the reported number"
Some countries report at day x data corresponding to day x-1 or -2 or -3 ... Thus in the scraping function the date should be taken into account.

- [ ] Jamaica: https://www.moh.gov.jm/?s=COVID-19+Clinical+Management+Summary
- [ ] Japan: lag in the date they published. For now, it will be commented on in the Selenium script. But the idea is that it can be included in the workflow
- [ ] Russia: lag

[2021-03-02 15:51] ImaneElIdrissi commented on #22
The following countries are signed as automatized but either they are not or not working:

- Cambodia: http://cdcmoh.gov.kh/
-  Cuba (similar to Iran, Jamaica, Japan, Romania, Russia, San Marino, Spain)/ update: numbers as letters: http://www.cubadebate.cu/?s=Cuba+reporta)
- Cyprus (daily number) / update: Will be included in the workflow: https://covid19.ucy.ac.cy/)
- Georgia (daily number) / upd

[2021-03-03 08:37] #39 closed

[2021-03-03 08:52] ImaneElIdrissi opened #41 "Some African countries from ACDC are not working"
Angola, Burkina Faso, Burundi, Cape Verde, Seychelles, Sudan and Tanzania almost always appear in the manual file. @angelicambg could you check why?

[2021-03-03 09:30] ImaneElIdrissi opened #42 "Add scraping for these countries"
- [ ] Afghanistan (http://covid.moph-dw.org/#/)
- [x] Argentina (special dashboard grafana: https://www.argentina.gob.ar/salud/coronavirus-COVID-19/sala-situacion)
- [x] Cambodia (http://cdcmoh.gov.kh/)
- [x] Costa Rica (xlsx: https://geovision.uned.ac.cr/oges/index.html)
- [x] Cuba (http://www.cubadebate.cu/?s=Cuba+reporta)
- [x] Indonesia (https://covid19.go.id/peta-sebaran)
- [x] Jordan (https:

[2021-03-03 09:33] #22 closed

[2021-03-03 09:43] ImaneElIdrissi opened #43 "Have only one issue file/ different name when no error/ no file when no error"
It is a little bit painful having to open all [issues files](https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/issues) to check errors. Different options: 1) the best would be to have an issue file appearing only when there is an error inside. 2) a little change in the title of the file when there is no error. 3) one file containing all errors of all dates (my least preferred but woul

[2021-03-03 16:00] ImaneElIdrissi commented on #36
@angelicambg I have updated the list of countries to work on according to @dsbb-finddx comment.

[2021-03-04 13:46] #41 closed

[2021-03-05 09:09] angelicambg commented on #36
@ImaneElIdrissi I have some questions regarding this data. Could you help me?

1.  Antigen and Rapid test numbers are the same? i.e. can I store _Antigen, Rapid test, Rapid antigen, Rapid test (HAGT)_  just in one variable called `rapid_test`, or should I create different variables for each of them?

2. Data for Benin currently is based on Africa CDC, and they show only PCR. Should we take https:/

[2021-03-05 09:46] ImaneElIdrissi commented on #36
1. One variable called  `rapid_test`  is good. The other names _Antigen_, _Rapid antigen_  and  _Rapid test (HAGT)_  are just shortcuts to say _rapid tests_.

2. Indeed for Benin it would be good to start using https://www.gouv.bj/coronavirus/ for both `tests_cumulative` and `rapid_test` (Tests TDR) instead of Africa CDC.

3. For Czech Republic, including in `test_cumulative` the number for _Prove

[2021-03-08 12:14] ImaneElIdrissi opened #44 "Issue files not updated as expected"
@angelicambg as discussed with you by e-mail it seems issues files are not being updated as they should.

[2021-03-09 15:03] angelicambg commented on #44
I increased the days in the workflow. Before it was updating the last 15 days based on the manual files, so I changed to updated the last 30 days, and it's solved.

[2021-03-09 15:03] #44 closed

[2021-03-11 12:35] dsbb-finddx opened #45 "Argentina wrong value on tests_cumulative_corrected column"
@angelicambg Argentina for 2021-03-11 has a wrong value of 28882949 at the tests_cumulative_corrected column.
However the tracker shows the value of 7617966.

Why isn't the corrected column value as the original, since it was fetched automatically?
And why doesn't the tracker use the _corrected column value?

[2021-03-11 15:02] angelicambg commented on #45
Argentina has not a fetched value for today. Therefore, to populate the values for `tests_cumulative_corrected` until today, the function `process_test_data()` was using the maximum value of (`tests_cumulative`) to generate `coronavirus_test.csv`.

Particularly for Argentina on 2020-10-27 there is a wrong value in `tests_cumulative`, which was corrected on `tests_cumulative_corrected`, but  `proce

[2021-03-11 15:56] DataOps-epam opened #46 "Drop in cumulative values"
Hi, could you please check "tests_cumulative" for Venezuela. Previously today we got an update with "2971716" value for 03/11/2021 period and later got a revision for that period with drop to "2745122". Could you please confrim current data is correct and previous was wrong or clarify this. Thank you.

[2021-03-11 21:35] #45 closed

[2021-03-12 09:54] dsbb-finddx commented on #46
@angelicambg @ImaneElIdrissi is this due to https://github.com/dsbbfinddx/FINDCov19TrackerData/issues/45#issuecomment-796800892

[2021-03-12 14:00] dsbb-finddx commented on #15
@pat-s this is a very good proposition.
@christophsax something in those lines is already implemented here: https://github.com/dsbbfinddx/FINDCov19Tracker/blob/92179b1d5b13473466697467b69d09c1d8f96b94/R/shiny-data.R#L297
Would it be beneficial for the automatic workflow to add where @pat-s suggests?

[2021-03-12 15:53] ImaneElIdrissi commented on #46
Hi, we are scraping automatically Venezuela data from this website: https://covid19.patria.org.ve/noticia/dia-358-de-la-lucha-contra-la-covid-19-venezuela-registra-431-casos-comunitarios-5-importados/
We couldn't find the value "2.971.716" on the website and we are not sure what happened. Our hypothesis is that when our script ran the 1st time on 2021-03-11, Venezuela had released the value "2.971

[2021-03-15 07:02] #46 closed

[2021-03-16 08:55] dsbb-finddx opened #47 "Calculations for 15-03-2021 in data_all.csv are wrong"
@angelicambg @christophsax there is an issue with calculations for countries for 15-03-21.
for regions and income all the cumulative values are 0.

for countries there are NA values in the cases columns.
Is there a problem with the jhu_cases? The file was not updated since yesterday: https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/jhu_data.csv

And actions fail d

[2021-03-16 10:53] angelicambg commented on #47
all files in processed folder were updated, and now actions are running properly.

[2021-03-16 12:06] dsbb-finddx commented on #47
Download of selected data is still failing in the shiny app

[2021-03-16 12:52] christophsax commented on #47
I am looking into it right now.

[2021-03-16 13:23] christophsax opened #48 "Duplicate in `data_all.csv`"
Probably not causing a problem right now, but should not be there, and may lead to other problems.

We have two rows for `UZ` on one day.

[code]

<sup>Created on 2021-03-16 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-16 13:32] christophsax commented on #47
Download is failing because of duplicate in #48. Angelica, can you look into it and fix?

[2021-03-16 13:53] angelicambg opened #49 "Create an alert when manual files have duplicated countries"
The process already verify when there are countries repeated for the same date coming from different sources (Selenium, fetch and manual) and only take one source; usually the manual source.

Now it should include an alert when there is repeated data for the same date coming from the same source, specially a double check for manual files.

[2021-03-16 13:57] angelicambg commented on #48
Manual file had duplicated rows. I opened issue #49 to avoid repeated information coming from manual files.

[2021-03-16 13:57] #48 closed

[2021-03-19 07:20] ImaneElIdrissi opened #50 "Urgent: change US scraping function (new link)."
@angelicambg

US stopped reporting in the link we are currently using. Could you please work on the new link? It would be good to have it as soon as possible as we need US data to be retrieved as accurate as possible.

The links:
https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6

[2021-03-19 19:47] #50 closed

[2021-03-20 18:45] christophsax commented on #47
Seems to work again.

[2021-03-20 18:45] #47 closed

[2021-03-22 21:08] DataOps-epam opened #51 "Czechia: Cumulative Number Of Performed CV Tests"
Hi team,
Could you please check the data for the Czech Cumulative Number Of Performed CV Tests. The value for 03/22/2021 looks like a nonsense one and seems is not inline with the initial source.

https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv
https://onemocneni-aktualne.mzcr.cz/covid-19

Could you advise on this, please?
Thank You.

[2021-03-23 09:01] ImaneElIdrissi commented on #51
Dear colleague,

Thank you for your comment. Some countries make the distinction between PCR tests and rapid antigen tests in the numbers they report. This is the case for example for Austria (https://www.sozialministerium.at/Informationen-zum-Coronavirus/Neuartiges-Coronavirus-(2019-nCov).html) and Czech Republic (https://onemocneni-aktualne.mzcr.cz/covid-19). We recently decided to show this in

[2021-03-23 14:17] #51 closed

[2021-03-25 15:09] ImaneElIdrissi opened #52 "Urgent: corrected columns populated wrongly"
@angelicambg, we noticed that some countries (ex: Greece and South Africa) didn't show a positivity rate since some time and nor daily test values while they had in [coronavirus_tests_new.csv](https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/automated/coronavirus_tests_new.csv). From [coronavirus_tests.csv](https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/m

[2021-03-26 07:05] angelicambg commented on #52
@ImaneElIdrissi I was recalculating new_test_corrected based on tests_cumulative, and now is based on tests_cumulative_corrected. So this was corrected, and the values for Greece and South Africa are now correct.

However, it persists an issue when for many days test_cumulative is less than test_cumulative _corrected, this is the case for Mauritania. I'll look at this.

[2021-03-29 13:59] ImaneElIdrissi opened #53 "Urgent: problem with Africa CDC website"
Dear @angelicambg , it seems there is something wrong in the scraping for African countries. Anna noticed that values were not updated since last week. However, from my side African countries didn't appear in the need_processing files. From a quick look to the ACDC website, it seems their interface slightly changed. Could you please have a look at this as soon as possible as it is important to hav

[2021-03-30 15:17] dsbb-finddx commented on #53
@angelicambg could you please look into the issue Imane has reported? We need Africa data in the tracker by tomorrow because we have a presentation of the tracker.

[2021-03-30 15:20] angelicambg commented on #53
Yes, the source for the dashboard changed, basically is a new dashboard. I'm working on it to have asap.

[2021-03-30 20:35] #53 closed

[2021-04-01 14:05] ImaneElIdrissi commented on #36
@angelicambg , before we close this issue could you double check **Denmark** (https://www.sst.dk/en/english/corona-eng/status-of-the-epidemic/covid-19-updates-statistics-and-charts) and **Greece** (https://covid19.innews.gr/iframe)? It seems to me they are easy dashboards? Thanks a lot :)

[2021-04-01 14:14] ImaneElIdrissi commented on #42
@angelicambg could you please check **Cambodia**, **Jordan** and **Peru** as I still see them appearing in the [_need-processing_ files](https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/manual/need-processing).
Also for **Costa Rica** wouldn't it be possible to use the _fetch_fonction_ with R?
Many thanks.

[2021-04-01 14:39] ImaneElIdrissi opened #54 "Alert file with no new tests count"
@angelicambg , based on our conversation earlier today, it would be good to have an alert file  with for each country:
-The count of days since when _new_tests_corrected_ =0.
-An alert flag when it is more than 7 days.
-Countries grouped from biggest count days to smallest.

[2021-04-01 14:49] ImaneElIdrissi opened #55 "Error when tests_cumulative_corrected his higher than tests_cumulative"
@angelicambg, based on the issue that happened with Mauritania. I was thinking of an error (could appear in the usual error file) when the corrected value for cumulative tests is higher than the original value and there is no negative value in new tests original.

[2021-04-07 09:17] DataOps-epam opened #56 "Malaysia: Cumulative Number Of Performed CV Tests"
Hi team,
Could you please take a look on the Malaysia Cumulative Number Of Performed CV Tests,
The values for last 5 observed days have jumped from 2401043 to 7814774 and it looks suspicious for us.
Could you please advise on this if possible?
Thank You

[2021-04-09 11:53] ImaneElIdrissi commented on #56
Hello,
Thank you for your comment. I confirm that number 7814774 is correct. Indeed we updated the cumulative number of tests for Malaysia on 03/04/2021. Prior to that the last update was 2401043 on 15/11/2021, hence the drastic increase. Malaysia is one of the countries for which we retrieve testing data manually, due to their way of reporting. They usually do with images on the Ministry of healt

[2021-04-12 07:22] #56 closed

[2021-04-29 13:06] #52 closed

[2021-04-29 13:07] #43 closed

[2021-04-30 09:35] #16 closed

[2021-05-12 08:23] ImaneElIdrissi commented on #42
@angelicambg could you recheck this? There is a new link for **Afghanistan**. Thank you!

[2021-05-19 13:48] ImaneElIdrissi opened #57 "Fix countries for which scraping is not working anymore"
Dear @angelicambg, would it be possible to have a look at all countries that are automated but stopped working? I have changed some of them. Could you check as a priority: **Croatia**, **Guatemala**, **Peru**, **Portugal**, **Romania**, **SaudiArabia**, **UnitedKingdom**, **US**.
Many thanks!

[2021-05-25 20:48] angelicambg commented on #57
- Croatia: [Web page using Cloudflares, and most likely they changed their anti-bot protection.](https://stackoverflow.com/questions/65604551/cant-bypass-cloudflare-with-python-cloudscraper) Already tried different approaches, but unsuccessfully.
- Peru: work locally but not with Github Actions tried different approaches, but unsuccessfully.
- Guatemala: working.
- Portugal: Fixed
- Romania: Fixed

[2021-05-26 08:31] ImaneElIdrissi commented on #57
Okay thank you so much @angelicambg !

[2021-06-02 09:41] angelicambg commented on #42
- Afghanistan: [Bug with chrome](https://stackoverflow.com/questions/40514022/chrome-webdriver-produces-timeout-in-selenium), tried some solutions but unsuccessfully.
- Costa Rica: Fixed
- Cuba: Fixed
- Indonesia: Fixed
- Luxembourg: Information shows only with hover. Tried different scrapers, unsuccessfully.
- Thailand: Fixed
- The Bahamas: PDF I'll include using the fetch fucntions
- Venezuela:

[2021-06-02 09:44] angelicambg commented on #36
- Denmark: Fixed
- Indonesia: Included
- Greece: Included
- Italy: Included
- Colombia: Included using [this webpage](https://infogram.com/panorama-general-1h7z2lgn3l9l4ow?live) from INS

[2021-06-02 09:56] #57 closed

[2021-06-02 10:52] DataOps-epam opened #58 "Thailand Cumulative Number Of Performed CV Tests"
Hi, Could you please check Thailand Cumulative Number Of Performed CV Tests?
We observe suspicious data update as of 06/02/2021
Please advise whether the data are correct
Thank you.

[2021-06-02 11:57] ImaneElIdrissi commented on #58
Hello and thank you for your comment.

We retrieve Thailand testing data from the [Ministry of Public Health](http://nextcloud.dmsc.moph.go.th/index.php/s/wbioWZAQfManokc). Unfortunately, MoPH does not release updates on a regular and easy to track manner. For this reason, we were not able to update Thailand testing data since 03/21/2021, explaining why there is a sudden drastic increase. The data

[2021-06-03 10:47] #58 closed

[2021-06-10 11:08] ImaneElIdrissi opened #59 "Correct Canada scraping"
Hi @angelicambg, could you please re-check the scraping function for Canada? It doesn't scrape the right value. Thanks a lot.

[2021-06-10 13:19] #59 closed

[2021-06-10 15:05] angelicambg opened #60 "Create the same workflow for segregated data"
- [x] Check the sum of segregated data
- [x] Check negative values
- [x] Create the files with need-processing-segregated-data
- [x] Check for duplicated rows due to manual input
- [x] Create a new file in the processed folder with clean data, and the app will take this file
- [x] Adjust the workflow with the new files

[2021-06-10 15:06] angelicambg opened #61 "Clean up repo"
- [ ] Merge country info files in contry_info_urls
- [ ] Clean the repo with the files we are no using
- [ ] Update readme

[2021-06-23 07:52] #49 closed

[2021-06-23 09:57] dsbb-finddx commented on #37
@angelicambg Sri Lanka has an API with test data provided, found here: https://www.hpb.health.gov.lk/en/api-documentation Can you call the API instead of scraping the data?

[2021-06-23 10:11] dsbb-finddx commented on #36
@angelicambg I changed the link for Brazil. Can you please update the number for cumulative number of tests and also PCR/RDT?

[2021-06-23 11:00] dsbb-finddx opened #62 "QC of test data with other available sources"
The idea is to write a script that will pull data from other sources that track testing data and compare with FINDCovTracker data. The comparison graphs could be hosted in a Github website to be inspected internally and externally for anomalies.

[2021-07-08 08:27] dsbb-finddx opened #66 "Africa CDC scraping needs to be updated"
@angelicambg Africa CDC test data were updated on 6th of July (see Kenya) but scraping does not work.

[2021-07-09 09:36] angelicambg commented on #66
The dashboard changed and also the layer for the API changed. I updated the link to the new layer.

[2021-07-09 09:36] #66 closed

[2021-07-14 15:01] dsbb-finddx commented on #36
- [ ] Segregated data in processed folder not updating since 24/06/2021 and shinyapp does not show most recent value
- [ ] solve the issue of negative values for pcr and rdt test values, calculating the percentage of each daily value from the most recent correct values and apply it on the test_new_corrected column
- [ ] Greece, Benin, Romania are scraped for pcr/rdt numbers but do not show up on t

[2021-07-27 08:15] DataOps-epam opened #80 "Suspicious data - China, Number Of Confirmed Cases"
Hi Team,

Could you please check data for China, Number Of Confirmed Cases
We can see suspicious data in 07/23/2021 as there is " China unknown" region with 37 confirmed cases only for 1 day .
Could you please advise on this?

Thank You.

 Best regards,

KATERYNA BOBRYK
Data Analyst

  Cell: +38063345 8621  Email: Kateryna_Bobryk@epam.com
Kyiv,  Ukraine  epam.com

[2021-07-27 10:46] angelicambg commented on #80
Hi @DataOps-epam,

Could you tell us in which file you found the suspicious data for 07/23/2021? I check the files `coronavirus_cases.csv`, `data_all.csv`, and `jhu_data.csv` but I couldn't find easily the data for China you mentioned. Thanks!

[2021-07-27 10:53] DataOps-epam commented on #80
I found it here: time_series_covid19_confirmed_global.csv

[2021-07-27 11:16] angelicambg commented on #80
time_series_covid19_confirmed_global.csv is a file located in a different repo [CSSEGISandData
/
COVID-19](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series),  and sadly we don't have data for regions in China. Maybe you can check with the people involved in the repo mentioned.

[2021-07-27 11:21] DataOps-epam commented on #80
Got it, sorry for misunderstanding.

Have a good day.

[2021-07-27 11:21] #80 closed

[2021-07-29 11:19] #60 closed

[2021-07-29 11:22] angelicambg commented on #15
This was implemented in [countries-last-update.csv](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/issues/countries-last-update.csv) and the last update date is used in the shiny app

[2021-07-29 11:22] #15 closed

[2021-08-11 10:20] dsbb-finddx opened #92 "country_info file updated names - replace in workflow"
Hello,

I am trying to consolidate more columns and update country names for the test tracker and other relevant apps that use this file.
I have uploaded this file : https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/raw/country_info_2.csv

@christophsax  @angelicambg could you please make sure you integrate this file in the workflow? It should replace the country_info.csv fi

[2021-08-11 14:28] dsbb-finddx commented on #92
@benubah yes this is ok! Thank you!

[2021-08-16 11:06] dsbb-finddx commented on #92
@benubah @angelicambg @christophsax [https://github.com/dsbbfinddx/FINDCov19TrackerData/actions/runs/1133965407](url) fail, because of new country_info file?
[https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/processed](url) folder files were not updated since Friday 13/08

[2021-08-16 12:13] benubah commented on #92
Sorry about this! The workflow needs this PR (https://github.com/dsbbfinddx/FINDCov19Tracker/pull/19) so that it should start working again with the new changes. But I guess @angelicambg wants to review first before merging. A review is good so as to ascertain if some existing Shiny apps would break after the changes.

[2021-08-16 12:17] dsbb-finddx commented on #92
@benubah can we revert until @angelicambg makes the necessary checks please?
Updated data need to be added on the processed folder today.

[2021-08-16 12:57] benubah commented on #92
Okay, the folder files have been updated now, please review: https://github.com/dsbbfinddx/FINDCov19TrackerData/tree/master/processed

[2021-08-16 13:01] angelicambg commented on #92
The process is running without errors. Thanks @benubah.

I'll merge the update for the manual files and check the errors.

[2021-08-16 13:01] #92 closed

[2021-08-16 13:26] dsbb-finddx commented on #92
@benubah @angelicambg thank you very much!

[2021-08-16 17:07] benubah commented on #92
Thanks! Test-tracker and CountryMatrix shiny apps have been updated to work with this improvement.

[2021-08-29 10:57] christophsax opened #99 "invalid isocodes in `data_all.csv`"
There are some invalid isocodes in `data_all.csv`. Can we fix or remove them?

[code]

<sup>Created on 2021-08-29 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-08-30 12:16] dsbb-finddx commented on #99
@christophsax @angelicambg is this fixed please?

[2021-08-31 13:35] angelicambg commented on #99
Fixed with https://github.com/dsbbfinddx/FINDCov19Tracker/commit/4bb267333c1c11760bde4e3025cbd33000c471b7

[2021-08-31 13:35] #99 closed

[2021-09-01 14:37] angelicambg opened #101 "US not reporting testing data on JHU dashboard"
@dsbb-finddx  [JHU dashboard](https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6) is not reporting testing data anymore.

I found this [source](https://github.com/govex/COVID-19/tree/master/data_tables/testing_data) and they have information per state. I can use their [API](https://jhucoronavirus.azureedge.net/api/v1/testing/daily.json) to download th

[2021-09-02 13:36] #101 closed

[2021-09-07 11:01] DataOps-epam opened #104 "Ecuador: Cumulative number of performed CV tests"
Hi,
Check please the data for Ecuador: Cumulative number of performed CV tests
Ecuador,2021-09-07,16059979,17842885,Ecuador,https://www.salud.gob.ec/actualizacion-de-casos-de-coronavirus-en-ecuador/,16059979,17842885
Looks like the data is wrong for 09/07/2021
Could you please advise?

[2021-09-07 11:14] dsbb-finddx commented on #104
Thank you @DataOps-epam for your feedback.
@angelicambg cumulative number of tests for Ecuador on 07/09 is lower than the one in 06/09.
Can you please look into this?
![Screenshot 2021-09-07 at 13 12 47](https://user-images.githubusercontent.com/62348391/132335667-204ba410-fd5d-477c-878f-26aa7d791c48.png)

[2021-09-07 11:18] DataOps-epam commented on #104
Looks like the data for 9/7/2021 was inserted with wrong delimiter
![image](https://user-images.githubusercontent.com/80464515/132336114-59619cf7-5da1-40fc-a1f1-728de8318856.png)

[2021-09-07 14:39] angelicambg commented on #104
thanks @DataOps-epam
On ther [website](https://www.salud.gob.ec/actualizacion-de-casos-de-coronavirus-en-ecuador/) they have reported  1’784.2885, but it's very likely they wrote double 8 by mistake.

<img width="751" alt="image" src="https://user-images.githubusercontent.com/38508957/132363537-cc887e24-1d33-471d-86c9-67c0a396751a.png">

We will use 1’784.285 instead and double check tomorrow the

[2021-09-08 08:57] DataOps-epam commented on #104
Hi, we are still getting the data point 17842885 for the 9/7/2021 and 9/8/2021 periods.

[2021-09-08 09:00] dsbb-finddx commented on #104
@angelicambg website still shows 1’784.2885
Can we manually correct to previous correct value please?

[2021-09-08 09:18] angelicambg commented on #104
I just added to the corrected columns the last correct value for yesterday and today. Now those changes are included in [processed/coronavirus_tests.csv](https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv).

Depending on the update later today or tomorrow I'll change the values again.

[2021-09-09 19:39] angelicambg commented on #104
The new values published are correct.

[2021-09-09 19:39] #104 closed

[2021-09-27 17:58] dsbb-finddx commented on #36
@angelicambg Denmark has updated their data here: https://www.sst.dk/en/english/corona-eng/status-of-the-epidemic/covid-19-updates-statistics-and-charts
We have lower values.

[2021-10-04 20:55] DataOps-epam opened #111 "USA: Cumulative Number Of Performed CV Tests suspicious jump"
Could you please check your time series below?
Link: https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv

USA: Cumulative Number Of Performed CV Tests

Data point for 09/30/2021 period  is significantly higher in compare with previous one.
Could you please advise if you know any infor regarding nature of such data change?

[2021-10-05 08:20] dsbb-finddx commented on #111
@DataOps-epam thank you for your feedback.
We use [this](https://raw.githubusercontent.com/govex/COVID-19/master/data_tables/testing_data/time_series_covid19_US.csv) source for testing data from the US.
The data in our time series corresponds on the "tests_combined_total" column of the above source for the date 09/30/2021 onwards.
Our time series from 2021-09-18 to 2021-09-29 does not include any

[2021-10-05 11:05] angelicambg commented on #111
The automated scraping failed between 2021-09-18 to 2021-09-29.  I just corrected manually. Therefore, when the triggered workflow ends, [coronavirus_tests.csv](https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv) should reflect the manual changes.

[2021-10-05 11:07] dsbb-finddx commented on #111
Thank you @angelicambg

[2021-10-05 11:21] dsbb-finddx commented on #111
@DataOps-epam this is now solved!

[2021-10-05 11:21] #111 closed

[2021-10-06 15:46] dsbb-finddx opened #112 "Brazil new source"
@angelicambg can you please update Brazil source to [this](https://coronavirusbra1.github.io/) one?

[2021-10-15 20:57] bzki opened #117 "Question about 7-day rolling averages in data_all.csv file"
Thanks for your work on collecting this data.

I had a question about some of the metrics. In particular, how is the smoothing being done for `all_new_tests` (described as *Daily number of tests (7 day rolling average smoothed)*) and `all_cum_tests` (described as *Cumulative number of tests (smoothed)*) -- my question may apply to some of the other 7-day averages, but I haven't investigated this y

[2021-10-21 20:45] DataOps-epam opened #120 "Drop in Taiwan, Province Of China: Cumulative Number Of Performed CV Tests"
Dear FIND,

Could you please check your time series "Taiwan, Province Of China: Cumulative Number Of Performed CV Tests" here:
https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv

We got 3 updates during the day and in latest revision 10/21/2021 period was revised to value in the initial release.

Could you please advise if second revision was s

[2021-11-11 11:58] DataOps-epam opened #130 "Argentina: Cumulative Number Of Performed CV Tests"
Hi, we've got an extreme revision for 09/09/2021-11/11/2021 period with latest update.
Could you please advise on this. Thank you.

[2021-11-17 13:50] angelicambg commented on #130
Hi @DataOps-epam. There was an issue with the automated scraping between 2021-09-09 and 2021-09-22, but once those values were corrected we could retrieve the right values until 2021-11-11.

[2021-11-17 13:50] #130 closed

[2021-11-19 15:15] angelicambg commented on #120
Dear @DataOps-epam usually the automated process run twice a day, on that particular day was three times, but we only kept the last run at the end of the day because it is when most of the countries have updated their values. Unfortunately for that particular day, the last run didn't work, but for the next few days it has been running smoothly.

[2021-11-19 15:15] #120 closed

[2021-11-23 20:52] dsbb-finddx commented on #42
- [ ] Brazil: http://www.giscard.com.br/coronavirus/indice-testes-realizados-covid19-brasil.php
- [ ] Ireland:https://covid-19.geohive.ie/datasets/f6d6332820ca466999dbd852f6ad4d5a_0/about (downloand csv file, contains daily number of tests under Test24 column)

[2021-12-01 10:42] DataOps-epam opened #146 "Ireland: Cumulative number of performed CV tests"
Hi,
Check please the data for Ireland: Cumulative number of performed CV tests.
We can observe large revisions for the data for the 8/17/2021-12/01/2021 periods.
Could you please advise the reason of this revision and that the data is correct?
Thank you

[2021-12-01 12:14] angelicambg commented on #146
Hi @DataOps-epam,
Ireland was not updated for several weeks, but now we updated the source of information. Therefore, we will correct the values during the day.

[2021-12-03 06:03] angelicambg commented on #146
Hi @DataOps-epam the corrections are finished.

[2021-12-30 21:42] DataOps-epam opened #164 "Bulgaria: Cumulative number of performed CV tests"
Hi team,
Could you please check the data for Bulgaria: Cumulative number of performed CV tests
We can observe large jump (and revision) for the data from the 12/27/2021 periods.
Could you please advise the reason for this jump and that the data is correct?

[2022-01-05 13:47] angelicambg commented on #164
Hi @DataOps-epam
Thanks for the remark. The automated process didn't work for some time, so we are correcting the numbers. We let you know when we finish the update.

[2022-01-07 09:22] angelicambg commented on #164
We have finished the update for Bulgaria

[2022-01-07 09:22] #164 closed

[2022-01-12 16:04] dsbb-finddx opened #166 "Fix Nigeria cumulative value for 2021-09-29"
Replace cumulative tests : 6040381 with cumulative tests:3063195

[2022-01-12 16:18] #166 closed

[2022-01-12 16:19] angelicambg commented on #166
also changed for 2021-09-30

[2022-01-18 22:21] dsbb-finddx opened #167 "Fix country data"
- [ ] El Salvador issue with scraping and negative value on 2021-09-13
- [ ] Estonia issue with negative value on 2021-07-28. Scraping works but corrected columns keep the same since 2021-07-28

[2022-01-25 00:32] dsbb-finddx commented on #167
- [ ] United States: still not scraping data correctly. Please use below code and update accordingly cumulative test numbers:
[code]

- [ ] UK data needs to be updated using the API instead of scraping. Check how to [here](https://coronavirus.data.gov.uk/details/download ) and [here](https://coronavirus.data.gov.uk/details/developers-guide/main-api).
Permalink to use for cumulative number of tests

[2022-01-25 23:39] angelicambg commented on #167
@dsbb-finddx Israel Fixed.

Benin in Africa CDC dashboard has a lower value than the value reported last time in https://www.gouv.bj/coronavirus/ and at some point, they didn't report anymore. Should I change the previous values to have the same value as Africa CDC dashboard?

[2022-02-09 20:50] DataOps-epam opened #170 "Peru: Cumulative number of performed CV tests"
Hi,
Check please the data for Peru: Cumulative number of performed CV tests for 2/9/2022 period
We can observe an extremely large jump for the 2/9/2022 period and this data looks suspicious for us.
Could you please check the following data and advise if the data is correct?
If the data is correct, please advise the reason for the following jump?

[2022-02-10 15:30] dsbb-finddx commented on #170
Hello @DataOps-epam thank you for bringing this to our attention, we are correcting the dataset.
@angelicambg @seawaR scraping for Peru failed, please amend.

[2022-02-10 17:04] DataOps-epam commented on #170
We got suspicious revisions for a lot of different countries.
Could you please advise, your fix is still in progress?

[2022-02-10 17:09] angelicambg commented on #170
fix with 8c4b850c6b767b0d87acfc2bf293c4f5bc6d5703

[2022-02-10 17:09] #170 closed

[2022-02-10 20:28] DataOps-epam commented on #170
We still can observe the same data.
![image](https://user-images.githubusercontent.com/80464515/153491179-fda20d16-c522-4ff9-a9eb-e109c3fa8f3f.png)

[2022-02-14 08:58] dsbb-finddx commented on #167
Yes, since Africa CDC keeps on reporting on Benin, change the source and values as per new source.

[2022-02-14 09:01] dsbb-finddx commented on #167
- [ ] Ireland needs to be updated. Is scraping working correctly, because the [source](https://covid-19.geohive.ie/pages/hospitals-icu--testing) gets updated frequently, but we have not updated since 30/12/2021. Use [csv](https://covid-19.geohive.ie/datasets/f6d6332820ca466999dbd852f6ad4d5a_0/explore?location=53.438887%2C-8.057012%2C7.72&showTable=true) file to update all time series from 30/12/20

[2022-02-15 17:54] DataOps-epam opened #171 "Ireland: Cumulative Number Of Performed CV Tests - extreme revision"
Dear FIND, could you please check your time series "Ireland: Cumulative Number Of Performed CV Tests" here: https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv

We've got today an update with significant revision for 02/15/2022 period. Could you please advise on this. Thank you.
#IRL.COVID19.B@FIND

[2022-02-15 20:58] dsbb-finddx commented on #171
@DataOps-epam we are in the process of revising also the historical data for Ireland, from 2021-12-31 to 2022-02-14.
We will update you as soon as this is complete.

[2022-02-16 18:08] dsbb-finddx commented on #167
@angelicambg @seawaR could you please let me know when will the historical data be updated?

[2022-02-16 21:37] angelicambg commented on #171
The update between 2021-12-31 to 2022-02-14 is done

[2022-02-16 21:37] #171 closed

[2022-03-02 19:54] DataOps-epam opened #172 "New Zealand Cumulative Number Of Performed CV Tests"
Hi,
Could you check the data for New Zealand Cumulative Number Of Performed CV Tests.
We are able to validate this value with the source, but the value makes no sense. Looks like the source performed bad calculations for TOTAL on their side and recalculation shows that probable correct value for 02 March 2022 is 6748135

Could you advise if this can be fixed?
Thank you

[2022-03-03 14:44] angelicambg commented on #172
thanks @DataOps-epam! some changes yesterday in New Zealand's Website triggered this error. We already made the correction. Once the automatic process is finished correct values will be displayed.

[2022-03-03 14:44] #172 closed

[2022-03-03 17:14] dsbb-finddx opened #173 "New Zealand scraping issue"
@angelicambg @seawaR there is an issue with New Zealand testing data, there is a huge increase.
Can you please correct?
<img width="506" alt="59B47BBE-A874-468D-9A1F-D4471EFDB27A" src="https://user-images.githubusercontent.com/62348391/156616051-f818b284-51e7-46d6-bbf7-b370fe0c25f0.png">

[2022-03-03 17:21] angelicambg commented on #173
I corrected 2 hours ago, and [coronavirus_tests.csv](https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/processed/coronavirus_tests.csv) was updated

[2022-03-04 10:23] #173 closed

[2022-03-14 17:34] christophsax opened #175 "Align workflow numbers with app"
We redefined the `_cap` suffix in the tracker app to indicate numbers are per 1k, rather than per 100k of pop. If I apply the same calculation as in the app, I will get different `_cap` numbers:

<img width="755" alt="image" src="https://user-images.githubusercontent.com/1390827/158226782-ba91fc36-0e09-4c79-8865-9319e1e273a8.png">

Universal column definitions as from here:

https://github.com/dsb

[2022-03-14 17:56] angelicambg commented on #42
This is done. At some point, we talked about letting it open in case we could change the source, but I think with the QC dashboard and the section about the sources, we could close it.

[2022-03-14 19:11] christophsax commented on #175
Ah, forget it, I am looking at wrong data.

[2022-03-14 19:17] #175 closed

[2022-03-15 18:34] DataOps-epam opened #177 "Bulgaria: Cumulative number of performed CV tests"
Hi team,
We can observe the largest jump in the history for the 3/15/2022 period and it looks suspicious to us.
Could you please check the data for the following series and advise what is the reason for the following jump?

[2022-03-15 20:42] dsbb-finddx commented on #177
Hello @DataOps-epam thank you for your feedback. Bulgaria test data were not recently updated, hence the jump in the reported number.
The total number of performed tests we logged today seems to also agree with the [source](https://coronavirus.bg/).
Due to reporting infrequency, we have implemented linear interpolation on the time series, so it could be better if you could use the columns `all_new

[2022-03-15 20:47] findanna opened #178 "cumulative test data for groups are NA"
@christophsax @angelicambg can you please check the workflow again?
 `all_cum_tests` in data_all.csv when set is income, region, who_region or world are all NA.

Maybe there is a na.rm missing somewhere?

[2022-03-15 20:58] DataOps-epam commented on #177
Thank you, this info is very helpful.

[2022-03-15 20:59] #177 closed

[2022-03-15 22:03] christophsax commented on #178
Not sure if there was reasoning, but we do not calculate cumulative numbers for groups in the summarize functions:

https://github.com/dsbbfinddx/shinyfind/blob/main/R/summarize.R

So these values are not shown here as well:

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/1390827/158479431-74eccf45-67d5-45f9-9906-48227cd1bb35.png">

[2022-03-15 22:07] dsbb-finddx commented on #178
I see cumulative values for groups. This is strange.
<img width="1309" alt="Screenshot 2022-03-15 at 23 06 39" src="https://user-images.githubusercontent.com/62348391/158480467-1f502b74-39df-43ca-b455-5eb0e3af1035.png">

[2022-03-15 22:48] christophsax commented on #178
Yeah, I see your version as well, as soon as I am running the full app, rather than the subapp.

@benubah can you help us? In dsbbfinddx/shinyfindapps@e5e600d8d9cc743ca18b37da7a700fdc44bc8d6d, you removed the `shinyfind::` prefix. This seems to cause the different behavior. Any idea why? I don't see an alternative function definition, very strange. When I set a browser everything looks the same -

[2022-03-15 22:52] christophsax commented on #178
@dsbb-finddx if you make me an admin of this repo, I could add Ben as a collaborator. Alternatively, you can add Ben as a collaborator yourself.

[2022-03-15 22:56] dsbb-finddx commented on #178
Done, added him as a collaborator :)

[2022-03-16 08:43] DataOps-epam opened #179 "Suspicious data for New Zealand series - Cumulative Number Of Performed CV Tests"
Hi Team,

We have observed that the value published for New Zealand on the file "[coronavirus_tests.csv](https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv)" for the period 03/16/2022 seems extreme in comparison with other historical values.
Could you please confirm that the value is correct and provide the reason for such a big jump?

Thank yo

[2022-03-16 08:56] benubah commented on #178
The removed prefix had been restored several weeks ago in `main`  here: https://github.com/dsbbfinddx/shinyfindapps/blob/main/map/R/server.R#L91 and https://github.com/dsbbfinddx/shinyfindapps/commit/7674ce1604c7327b30c1a373ca9568b2fa23795e

 I can't reproduce the problem yet when running from the `main` branch.  The current version of `main` is deployed here: https://finddx.shinyapps.io/shinyfind

[2022-03-16 09:38] benubah commented on #178
About the differences between my `dev` link and production, I reminded @dsbb-finddx some days back that we've not yet deployed the current version of `main` to production and it seems that they are aware and wanted it that way at that time for some reason. So if we deploy `main` to production, the numbers should match.

The current version of `main` works for me both in the full app and sub-app. B

[2022-03-16 09:52] angelicambg commented on #179
Dear @DataOps-epam,

thanks for mentioning it. Based on the [official source](https://www.health.govt.nz/covid-19-novel-coronavirus/covid-19-data-and-statistics/testing-covid-19) this is the current value. Additionally, checking previous official values (you can check them [here](https://www.stats.govt.nz/experimental/covid-19-data-portal)), all values are correct.

<img width="1440" alt="Screensh

[2022-03-16 09:55] christophsax commented on #178
Thanks. That sounds good and resolves most of the confusion. I may have overlooked last night something else, but with `shinyfind::summarize_over_group()` we are confident what to expect.

Which brings us back to the original topic: `shinyfind::summarize_over_group()` does not produce cummulative numbers for groups. @dsbb-finddx was this something we overlooked or that we did conciously.

I guess

[2022-03-16 16:05] dsbb-finddx commented on #178
I am not sure we did it consciously. But I think we were focusing on the `shinyfind::summarise_over_time()` function where cumsum values don't make sense.

Is it `data_shiny.csv` or `data_all.csv`?

Please give it a go and then we should follow up extensively with a QC, comparing numbers before we push to prod.

[2022-03-18 10:55] DataOps-epam opened #180 "Issue with New Zealand: Cumulative Number Of Performed CV Tests - 031820221255"
Hi Team,

Could you please check below measure as we noticed  suspicious revision for 3/16/2022 - 3/18/2022 time period(drop in cumulative series)?

Measure: New Zealand: Cumulative Number Of Performed CV Tests

Source Link: https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv

Could you advise on this?

 Thank You.

[2022-03-18 15:39] angelicambg commented on #179
New Zealand corrected the value published on 2022-03-16, and we updated it as well.

[2022-03-18 15:39] #179 closed

[2022-03-18 15:41] angelicambg commented on #180
Dear @DataOps-epam

This is related to an erroneous value published on the website on 2022-03-16. However, this value was corrected. See also [issue 179](https://github.com/dsbbfinddx/FINDCov19TrackerData/issues/179)

[2022-03-18 15:41] #180 closed

[2022-03-19 19:46] benubah commented on #178
@christophsax  something like this?  https://github.com/dsbbfinddx/shinyfind/blob/missing-cum-numbers/R/summarize.R#L155-L163

I'm quite confused comparing the numbers for groups (income, who_region, etc) in `data_all.csv` and the table in DATA DEEP DIVE sub-app. The cumulative numbers for groups in `data_all.csv` are in the `all_cum_` and `cap_cum_` format, while in the table we have `avg_all_new

[2022-03-19 20:14] christophsax commented on #178
These should be the same as the normal `cap` caculations:

[code]

E.g., `mean(cap100k_cum_tests, na.rm = TRUE)`

[2022-03-19 20:34] christophsax commented on #178
Alls variables should be as defined in: (https://github.com/dsbbfinddx/shinyfind/blob/main/inst/codebook/codebook_extended.csv).

In data all, for historical reasons, I removed the `avg_` prefix and dropped the `sum` calculations. So I would say `avg_cap_new_` is the same as `cap_new_`.

Around here: https://github.com/dsbbfinddx/FINDCov19Tracker/blob/feb064ee7c8a89f8248061d58864485f4b852b4e/R/shi

[2022-03-20 22:17] benubah commented on #178
Thanks!

Adjusted `cap100k_cum_` here: https://github.com/dsbbfinddx/shinyfind/commit/0d5b54e6e65cf0b792c3cf551d8e41f8cba89851

https://github.com/dsbbfinddx/shinyfind/commit/0d5b54e6e65cf0b792c3cf551d8e41f8cba89851

To site an example: for `who_region` group, what should `all_cum_` and `cap_cum_` in `data_all.csv` be equal to in the table (in Data Deep Dive) below?

![image](https://user-images.g

[2022-03-20 22:48] christophsax commented on #178
You need to figure that out from the code. These are your lines:

https://github.com/dsbbfinddx/shinyfindapps/blob/2db9142acf35dd8ea5620010c60207fc2e79d03e/map/R/server.R#L54-L59

[2022-03-22 18:05] angelicambg commented on #62
published here https://dsbbfinddx.github.io/FINDCov19TrackerDataQC/

[2022-03-22 18:05] #62 closed

[2022-03-22 18:11] angelicambg commented on #42
Afghanistan, Luxembourg, and The Bahamas gathered manually. URLs updated in https://github.com/dsbbfinddx/FINDCov19TrackerData/blob/master/resources/countries-urls.csv

[2022-03-22 18:11] #42 closed

[2022-03-28 12:45] findanna opened #181 "Impact of change of name for the organisation"
Hello all,
I would like to change the name of the organisation on github.
Before I do that I am aware that this change might impact some of the github actions and workflows currently in place, so I would need to ask for your approval and your suggestions on moving this forward.

The name change needs to be completed this week.
In case you need to have a call to organise and find out exactly where

[2022-03-29 07:10] angelicambg commented on #181
Hello @findanna

Generally, it won't create many problems, ["GitHub automatically redirects references to your repositories"](https://docs.github.com/en/organizations/managing-organization-settings/renaming-an-organization) so that give us some time to update the references that included old organization's name (for instance links to download data). Related to the Github actions we should update t

[2022-03-29 07:37] findanna commented on #181
Thank you @angelicambg!
Can I then proceed today?

[2022-03-29 08:25] angelicambg commented on #181
yes, sure!

I can see 8 repos in the organization. Are those all repositories, or are there more private related to the tracker?

[2022-03-29 11:50] findanna commented on #181
There are more private repos, not related to the tracker. @christophsax can you please confirm I can proceed with changing the name of the organisation? You have a better visual since you are member of the org.

[2022-03-29 19:00] findanna opened #182 "New Zealand positivity rate is too high"
@angelicambg @seawaR can you please check the source and scraping for New Zealand?
Current positivity rates on the tracker are really high (500%)

[2022-03-30 08:08] DataOps-epam opened #183 "Suspicious data for Germany series - Number Of Confirmed Cases"
Hi Team,

We have observed that the value published for Germany on the file "[time_series_covid19_confirmed_global.csv](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv)" for the period 03/29/2022 seems extreme in comparison with other historical values.
Could you please confirm that the value is correct an

[2022-03-30 08:10] #183 closed

[2022-03-30 13:29] seawaR commented on #182
Hello @findanna,

We didn't find any problems with the scraping. However, since the beginning of March cases have spiked and the current level of cases is above the level of tests.
![data_NZ](https://user-images.githubusercontent.com/9646737/160845814-dbab2b57-1264-4f19-9d4e-0c0b16e65d6c.png)

[2022-04-02 02:22] christophsax commented on #178
@benubah are we done here?

[2022-04-02 02:33] christophsax commented on #181
Yes, sorry. I overlooked this, I thought Angelica did arleady confirm. We have the following private repositories:

[code]

Any critical ones that we are not affiliated?

From Angelica's link, it sounds as this is not problematic. I would do it at a point where we have some time to react. First half of next week is good for me. So if you rename on Monday, we have the following days to fix unforese

[2022-04-05 21:05] DataOps-epam opened #184 "suspicious revision Thailand - FIND"
Hi Team,

We have observed that data published for Thailand: Cumulative Number Of Performed CV Tests on the file:
https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv
looks suspicious for 04/05/2022. Could you please confirm that data for these series is correct and advise if you know the reason of such revision?

Could you please check and advis

[2022-04-06 12:00] benubah commented on #178
The changes are pushed for review here: https://github.com/dsbbfinddx/shinyfind/pull/27

[2022-04-07 08:03] christophsax commented on #181
Goal is to rename late on Monday, April 11.

[2022-04-07 18:43] mikelehen opened #185 "Huge increase in tests from St. Kitts & Nevis"
[code]

Cumulative tests increased from 68241 to 682370 on 2022-04-06 causing huge outliers in new_tests_orig, all_new_tests, etc.

[2022-04-08 08:21] findanna commented on #185
@mikelehen thank you for reporting this.
Currently the [source](https://covid19.gov.kn/) for St. Kitts and Nevis reports `682,370` total tests performed, but `2` is probably a typo.
Because when adding the number of positive tests (`5551`) and negative tests (`62819`) the total is `68,370`.
@angelicambg @seawaR can you please fix this?

[2022-04-08 08:57] benubah commented on #185
I sent the [source](https://covid19.gov.kn/) an email to see if they can also correct from their end. (This data is collected by selenium)

[2022-04-08 14:38] seawaR commented on #185
I corrected the total tests for 2022-04-06 and 2022-04-07 and will continue to correct them until the source is fixed.

[2022-04-08 15:13] findanna commented on #185
Thank you @benubah and @seawaR

[2022-04-08 15:14] #185 closed

[2022-04-08 16:12] benubah commented on #185
It worked - they have now corrected it at the source:

![image](https://user-images.githubusercontent.com/11357251/162481078-72809707-80b9-49de-995c-be4ff875b096.png)

Thanks everyone!

[2022-04-09 22:11] mikelehen commented on #185
Awesome, thank you!

[2022-04-11 11:38] benubah commented on #184
Thanks for reporting this!

Your observation is correct. Some days (beginning March 06, 2022) were missed by our automated data collection tool and therefore zero values were reported for those days.

The reason: the source actually provides daily test data, but it does not do this on a daily basis. A look at their [CSV](https://data.go.th/dataset/9f6d900f-f648-451f-8df4-89c676fce1c4/resource/0092

[2022-04-11 12:09] #184 closed

[2022-04-11 19:52] #182 closed

[2022-04-11 19:52] findanna commented on #181
Just changed name to finddx. Hope nothing breaks :)

[2022-04-11 19:54] benubah commented on #181
Will watch out

[2022-04-11 20:01] findanna opened #187 "Update readme file to include info on how data_all.csv is created"
@benubah, @christophsax  can you please update readme file to explain how the data_all.csv file is created and used by the tracker?
Currently the below is written, which is not true, since data_all.csv is used by the Shiny app.

Also, please add a section about the summary functions that create the grouped values.

[2022-04-12 08:17] angelicambg commented on #181
Links with the former organisation's name are being redirected correctly. However, I already changed the organisation name for the following repositories:

- [FINDCov19TrackerData](https://github.com/finddx/FINDCov19TrackerData)
- [FINDCov19Tracker](https://github.com/finddx/FINDCov19Tracker)
- [FINDCov19TrackerDataQC](https://github.com/finddx/FINDCov19TrackerDataQC)
- [shinyfind](https://github.

[2022-04-14 04:04] christophsax commented on #187
Part of the confusion arouse because we had two READMEs:

https://github.com/finddx/FINDCov19TrackerData

https://github.com/finddx/FINDCov19Tracker

I merged them now. Everything is in the first one, and the second one links to it.

Also cleaned up and polished a bit, and added a minimal intro, a paragraph on aggregation and a paragraph on how we combine test data with JHU data.

[2022-04-14 04:05] christophsax commented on #187
Ready for review.

[2022-04-14 07:40] DataOps-epam opened #188 "Suspicious data for India series - Cumulative Number Of Performed CV Tests"
Hi Team,

We have observed that the value published for India on the file "[coronavirus_tests.csv](https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv)" for the period 04/14/2022 seems extreme in comparison with other historical values.
Could you please confirm that the value is correct and provide the reason for such a big jump?

Thank you in a

[2022-04-14 07:59] findanna commented on #188
Hello @DataOps-epam,

There is indeed a big jump.
We have scraped 830810157 total number of tests on 2022-04-14, which is the officially reported cumulative value for India on their [website](https://www.icmr.gov.in/) as well.
However their official number  SAMPLES TESTED ON APRIL 13, 2022 is 434877, which would make the total to: 795389402.
Will contact them and see where the mistake is.
Will kee

[2022-04-15 20:47] DataOps-epam opened #189 "Extreme volatility in USA: Cumulative Number Of Performed CV Tests"
Dear FIND,
Could you please check your time series "USA: Cumulative Number Of Performed CV Tests" here: https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv
We can see extreme volatility in 04/15/2022 period with latest release.
Could you please advise on this.
Thanks.

#USA.COVID19.B@FIND

[2022-04-19 08:14] findanna commented on #189
Hello @DataOps-epam,

thank you for your feedback.
Indeed there are lots of [revisions](https://github.com/govex/COVID-19/commits/master/data_tables/testing_data) at the source for USA data.

We will also check on our side if we have an issue with the cumulative sum of the source data.
@angelicambg @benubah can you please check if [code](https://github.com/finddx/FINDCov19TrackerData/blob/f295b599

[2022-04-19 09:28] benubah commented on #189
Yes we've been working on this in the past few days. There were some revisions at the source. But there are also some missing states. We can't reproduce this with R because, the Python scraping tool uses a pandas `fillna()`  to replace _NAs_ with the last known value.
At least the KS and MN states were missing from April 15th. I have [reported](https://github.com/govex/COVID-19/issues/557) this to

[2022-04-19 09:38] findanna commented on #189
Thank you @benubah, looking forward to the updates!

[2022-04-19 15:09] findanna commented on #188
We have contacted them but no news yet from their side.
@benubah @seawaR is it possible to scrape the daily number of tests for India for the time being, until they correct the cumulative ones?
Please start correcting from 2022-04-14 adding 434877 to the previous cumulative value and keep on with the daily values from then onwards.

[2022-04-20 03:03] benubah commented on #178
We no longer have NA values for cumulative data

[2022-04-20 03:03] #178 closed

[2022-04-20 10:43] benubah commented on #188
I am of the opinion that the excessive increase in numbers on 2022-04-14 was as a result of additional data included (**reconciled by the states**) into the cumulative sum (on that day) as indicated in the underlined NOTE in the screenshot below. It seems they just added some previously missing data to the cumulative on that particular day.

![image](https://user-images.githubusercontent.com/11357

[2022-04-20 11:41] findanna commented on #188
Thank you @benubah. I agree with you then, please keep as it is. @DataOps-epam we will keep the cumulative value as stated in the source for 2022-04-14, until further news.

[2022-04-20 11:41] #188 closed

[2022-04-20 15:25] DataOps-epam commented on #188
Hi Team,

Thank you for the information provided, this is very useful for us.

[2022-04-21 19:08] #189 closed

[2022-05-16 20:54] DataOps-epam opened #191 "Suspicious data for Singapore total amount of cases"
Hi,

Could you please advise if you have any info regarding big data change for Singapore Cumulative Number Of Performed CV Tests from 19108195 to 62418583 as of 05/16/2022?

Thank you.

[2022-05-18 15:19] benubah commented on #191
Thanks for the report.

The [source](https://www.moh.gov.sg/covid-19/statistics) updated their `Number of Reportable ART Swabs Tested` i.e., antigen rapid tests, on  05/16/2022. They seem to do this update once in a while and not every single day.

![image](https://user-images.githubusercontent.com/11357251/169077625-78813258-86e4-4ceb-a7a5-a2ebbc0ad078.png)

[2022-05-18 15:58] #191 closed

[2022-06-06 21:02] DataOps-epam opened #192 "Extreme jump for Australia: Cumulative Number Of Performed CV Tests"
Hi Team,

Could you please check the below measure as we see noticed an extremely high jump for 6/6/2022? Numbers jumped from 72163238 on 06/05/2022 to 142981490 the next day.

Series: Australia: Cumulative Number Of Performed CV Tests

Source Link: https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv

Could you advise on this?

 Thank You.

[2022-06-07 11:02] findanna commented on #192
@DataOps-epam thank you for reporting this.
It seems like a scraping error has occurred, we will fix this in due time.
@benubah @seawaR please correct value for Australia as per [source](https://www.health.gov.au/health-alerts/covid-19/case-numbers-and-statistics#total-tests-and-results), which currently shows 72,380,675 total number of tests as per 2022-06-07.

[2022-06-07 11:48] benubah commented on #192
On it, thanks!

[2022-06-07 19:31] benubah commented on #192
This is fixed for 2022-06-06 and before. #193 fixes it for today. And a [fix](https://github.com/finddx/FINDCov19TrackerData/commit/0201dadaa21b45164dca789d058077b04273ac4e) has been pushed for the scraping error - let's see how it resolves tomorrow

[2022-06-07 20:10] findanna commented on #192
Thank you very much @benubah!
Let's keep an eye on Australia then :)

[2022-06-07 20:10] #192 closed

[2022-07-01 13:23] findanna opened #194 "Cambodia test data need correction"
@benubah @seawaR can you please take a look at Cambodia and correct data from 2022-06-27?

[2022-07-01 16:56] seawaR commented on #194
Hi @findanna, it seems there was a typo in the entry for that day. Fixed it in the manual updates of today.

[2022-07-01 16:56] #194 closed

[2022-07-12 20:44] DataOps-epam opened #195 "Indonesia: Cumulative number of performed CV tests"
Hi,
Check please the data for Indonesia: Cumulative number of performed CV tests  tests_cumulative_corrected column for 12/07/2022 period.
![image](https://user-images.githubusercontent.com/80464515/178591797-5ef0be3f-3e66-42a3-9875-382ce283cf0e.png)

[2022-07-14 17:40] seawaR commented on #195
There was a small issue with the date but the correction should be visible now.

[2022-07-14 18:58] benubah commented on #195
Thanks! All fixed

[2022-07-14 18:58] #195 closed

[2022-07-21 12:51] #181 closed

[2022-07-21 12:51] #117 closed

[2022-08-17 20:45] DataOps-epam opened #196 "Mismatch with Brazil official data for Cumulative number of performed CV tests"
Hi,

Could you please check data for Brazil Cumulative number of performed CV tests for 08/17/2022 period?
We observe data on the source is 78641767: http://www.giscard.com.br/coronavirus/indice-testes-realizados-covid19-brasil.php

While in your file it was adjusted to 70923215. Could you please advise what is the reason of mismtach?

Thank you.

[2022-08-18 10:21] benubah commented on #196
Many thanks for this observation! It's fixed now!

[2022-08-18 10:21] #196 closed

[2022-08-23 19:33] DataOps-epam opened #197 "Big revision and big jump in Greece and Norway cumulative tests"
Hi,

Could you please advise the nature of big revision for Norway cumulative tests from 2021-02-19 till 2022-08-23 and big jump for Greece cumulative tests for 2022-08-10 till 2022-08-23 period? Such changes looks suspicious.

Thank you.

[2022-08-24 07:42] DataOps-epam opened #198 "Issue with Cumulative Number Of Performed CV Tests for most countries"
Hi Team,

Could you please check the below measures as we see noticed suspicious revisions for all of them with today's release,

Source Link: https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv

Could you advise on this?

Series :

Argentina:   Cumulative number of performed CV tests
Australia: Cumulative number   of performed CV tests
Brazil:

[2022-08-24 08:15] benubah commented on #198
Thanks for reporting this!

Yes, there seems to be something suspicious with the `tests_cumulative_corrected` column of the dataset for these countries. We're taking close at this and will report back soon.

[2022-08-24 08:51] findanna commented on #197
@benubah @seawaR could you please check on this as well? Were these updated through csv files reporting past values for the above countries?

[2022-08-24 08:54] findanna commented on #198
@benubah please revert to previous version of file, so that the tracker does not show these values.

[2022-08-24 10:31] benubah commented on #198
okay

[2022-08-24 13:46] benubah commented on #198
I've reverted for now. Still taking a look at the cause with @seawaR

[2022-08-24 20:20] benubah commented on #198
After the workflow run this evening, the numbers seem to be correct again. We will watch the workflow a few more times tomorrow before finalizing on this.

[2022-08-24 21:00] benubah commented on #197
@seawaR  did a bulky update for Norway yesterday with the data from the new source (https://www.fhi.no/en/id/infectious-diseases/coronavirus/daily-reports/daily-reports-COVID19/) for the period 2021-02-19 to 2022-08-22, so there might have been revisions at the source for the stated period. This means the numbers might have changed for these days at the source and which is what is reflected in our

[2022-08-25 07:47] DataOps-epam commented on #197
Hi,

As we see, you sent other big revision for Norway cumulative tests from 2021-02-23 till 2022-08-24. Such change looks suspicious. Could you please confirm that previous revision on 08/23/2022 was bad?

[2022-08-25 20:45] benubah commented on #197
The revision on 08/23/2022 was correct on that day. The reason we did a revision at our end for 2021-02-19 to 2022-08-22  is because Norway is no longer publishing cumulative tests like other countries we track. They now provide a daily log of new tests.

We are collecting data for Norway from this source (https://www.fhi.no/en/id/infectious-diseases/coronavirus/daily-reports/daily-reports-COVID19

[2022-08-26 07:26] benubah commented on #198
We have monitored this closely in the past few days and the issue is now resolved.

[2022-08-26 07:26] #198 closed

[2022-08-26 07:32] DataOps-epam commented on #198
Yes, Thank you for your help.

[2022-09-19 21:11] DataOps-epam opened #201 "Indonesia: Cumulative number of performed CV tests"
Hi team,

We have found suspicious data for the following period 9/19/2022 due to largest jump in the history for Indonesia: Cumulative number of performed CV tests. Could you please check the data for the following series?

[2022-09-20 15:27] DataOps-epam commented on #201
Hi team,
Have you had a chance to review the incident below?

[2022-09-20 17:26] benubah commented on #201
Yes, have taken a look - there was a scraping error. Pushed a fix now!

[2022-09-20 18:08] benubah commented on #201
Thanks for reporting this! The issue is completely resolved now! You may want to take a look at: https://raw.githubusercontent.com/dsbbfinddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv

[2022-09-20 18:08] #201 closed

[2022-09-29 22:19] benubah commented on #197
Scraping the source automatically was too problematic because the website is a dynamic site. We found a workaround that makes bi-weekly manual updates a lot easy.

Closing via https://github.com/finddx/FINDCov19TrackerData/pull/202

[2022-09-29 22:19] #197 closed

[2022-10-18 20:01] DataOps-epam opened #203 "France: Cumulative number of performed CV tests - Issue"
Hi team,

We are facing some suspicious revisions when checking the data provided and what we see on our end on the test_cumulative_corrected column for the dataset of the country of France.
Could you please advise if these are correct?

[2022-10-19 09:28] findanna commented on #203
@DataOps-epam thank you very much for your feedback, indeed there seems to be a problem with France data, which changed values back from 2021-02-19 onwards. @benubah @seawaR can you please look into this urgently?

[2022-10-19 09:30] benubah commented on #203
On it! Thanks!

[2022-10-19 09:45] benubah commented on #203
I see a large negative value for France: `France,2021-02-21,-44849342,4830416,France,https://dashboard.covid19.data.gouv.fr/suivi-des-tests?location=Frau,0,49679758`

From this date onwards, the numbers are incorrect.

Will try to fix

[2022-10-19 09:55] findanna commented on #203
@benubah yes I think it might be a scraping error? Currently cumulative number of tests in the [french portal](https://dashboard.covid19.data.gouv.fr/suivi-des-tests?location=Frau) is 272 775 929

[2022-10-19 10:01] benubah commented on #203
Yes, the error was just introduced yesterday. It has been correct all along till yesterday. I see that it was correct on 2022-10-17 here: https://raw.githubusercontent.com/finddx/FINDCov19TrackerData/3d1c857ee3502b2215fcfa7b0905ce33602d0750/processed/coronavirus_tests.csv

[2022-10-19 10:57] benubah commented on #203
@seawaR corrected the negative value and the problem is fixed: https://raw.githubusercontent.com/finddx/FINDCov19TrackerData/master/processed/coronavirus_tests.csv

[2022-10-19 10:57] #203 closed

[2022-10-26 21:05] DataOps-epam opened #204 "Czechia - Cumulative number of performed CV tests - Issue"
Hi team,

We are facing some suspicious revisions when checking the data provided and what we see on our end on the cumulative number of performed CV tests column for the dataset of the country of France.
Could you please advise if these are correct?

[2022-10-27 06:02] benubah commented on #204
Thanks for reporting this. Found the problem for Czechia and implementing a fix for this right away.

[2022-10-27 08:21] benubah commented on #204
The problem with Czechia is fixed now

[2022-10-27 08:21] #204 closed